#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  /* background-color: rgb(132, 255, 0); */
}

.Calcomponent{
  background-color: rgb(98, 151, 134);
  padding: 3rem;
  margin:10em 2em ;
  border-radius: 10px;
  border: 3px solid rgb(8, 173, 52);

}
.Calcomponent:hover{
  box-shadow: 1px 9px 9px rgb(171, 202, 31);
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.navbar{
  margin: 2em;
  background-color: #888;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;


}
.navbar a{
  background-color: rgb(77, 96, 125);
  margin:1em;
  color: burlywood;
  padding: 1em;
  border-radius: 10px;



}